/* Base / global styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-brand-dark);
  /* font-family: 'comic sans ms', sans-serif; */
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;

  @media screen and (min-width: $bp-tablet) {
    font-size: 18px;
    font-weight: 400;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  max-height: 100%;
  width: auto;
}

img {
  display: block;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
