* {
  box-sizing: border-box;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 15px;
  border: 1px dotted black;
}

.item {
  color: rgb(24, 3, 20);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item.red {
  position: static;
  width: 250px;
  height: 250px;
  background-color: hsl(0, 100%, 55%);
  border: 5px solid rgb(150, 0, 0);
  transform: translate(-110px, 110px);
  transition: background-color 1s, color 1s, font-size 1s;
}

.item.red:hover {
  background-color: rgb(255, 0, 170);
  font-size: 50px;
  color: #ffffff;
}

.item.green {
  position: static;
  width: 200px;
  height: 200px;
  border: 5px solid #168100;
  background-color: #4eff2a;

  /* animation-name: spin;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count: infinite; */
  /* animation-timing-function: ease-in; */

  /* анімація скорочений запис  */
  /* animation: spin 2s 3s infinite; */
}

/* на ховері анімація становиться на паузу */
.item.green:hover {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0);
    background-color: #4eff2a;
  }
  50% {
    transform: rotate(55deg);
    background-color: #fbff00;
  }
  100% {
    transform: rotate(360deg);
    background-color: #4eff2a;
  }
}

.item.blue {
  width: 150px;
  height: 150px;
  background-color: #288ab1;
  border: 5px solid blue;
  transform: scale(0.5);
}

.item.yellow {
  width: 100px;
  height: 100px;
  background-color: #fcff49;
  border: 5px solid rgb(255, 94, 2);
  transform: skew(20deg, 20deg);
}
