/* Form */

/* Імпут буде підсвічуватись, або не підсвічуватись залежно від того, з not чи без ми додамо placeholder-shown  */
/* .form-input:not(:placeholder-shown) {
      background-color: aqua;
    } */

/* Щоб стилі input та placeholder змінювались при атрибуті disabled */
/* .form-input:disabled {
      background-color: lightgray;
    }
    
    .form-input:disabled::placeholder {
      color: rgb(223, 223, 223);
    } */

/* Виділяє всі імпути, що обовязкові, і мають required */
/* .form-input:required {
      border-color: red;
    } */

/* Checkbox, але він менеі не треба зараз за проектом
    
    .checkbox {
      position: relative;
    }
    
    .checkbox-input {
      appearance: none;
    }
    
    .checkbox-input:checked + .checkbox-label::before {
      background-color: var(--color-brand-dark);
    }
    
    .checkbox-label {
      padding-left: 22px;
    }
    
    .checkbox-label::before {
      position: absolute;
      width: 16px;
      height: 16px;
      border: 1px solid rgb(160, 0, 152);
      top: 0;
      left: 0;
      margin-top: 3px;
      border-radius: 3px;
      content: '';
    } */
