/* fwovers */

.flowers-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.flowers-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.flowers-item {
  flex-basis: calc((100% - 60px) / 3);
}

.flover-gradient-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  height: 444px;
  padding: 24px;
  /* background-image: url(../images/flover1.jpg); */
  /* Тінь: */
  /* box-shadow: 2px 2px 4px 4px blueviolet; */
  border-radius: 16px;
  background-image: linear-gradient(
    180deg,
    rgba(20, 0, 36, 0) 55%,
    rgba(20, 0, 36, 0.4) 73%,
    var(--color-brand-dark)
  );
}

.format-card {
  transition: transform 0.4s;
}

.format-card:hover {
  transform: scale(110%);
}

.flowers-card {
  color: var(--color-white);

  font-size: 24px;
  font-weight: 600;
}

.format-text {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 300;
}

.flowers-title {
  color: var(--color-white);
  margin-bottom: 80px;
}

.flowers-image {
  position: absolute;
  border-radius: 16px;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
