/* Sale section, promotions and news  */

.sale-section {
  padding-top: 96px;

  &__sales-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  & img {
    width: 310px;
  }

  &__sales-content {
    max-width: 710px;
  }

  &__sale-title {
    margin-bottom: 42px;
  }

  &__text {
    &--limited {
      max-width: 370px;
    }
  }
}

.promotions-image {
  //change name
  max-width: 300px;
  max-height: 450px;
  border-radius: 5px 5px 5px 250px;
  box-shadow: -16px 16px 0 0 white, -16px 16px 0 2px var(--color-brand-primary-rose);
}

.promotions-and-news-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.promotions-card {
  display: flex;
  gap: 30px;
}

.promotions-and-news-item {
  flex-basis: calc((100% - 30px) / 2);
}

.promotions-text p {
  margin-bottom: 24px;
}

.promotions-text p:last-child {
  margin-bottom: 0;
}

.promotions-news-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.promotions-title {
  /* max-width: 520px; */
  margin: 0 auto 80px;
  position: relative;
}

.promotions-title::after,
.promotions-title::before {
  position: absolute;
  width: 360px;
  border: 2px solid var(--color-brand-dark);
  content: '';
  bottom: 24px;
}

.promotions-title::before {
  left: 0;
}

.promotions-title::after {
  right: 0;
}
