.promotions-card {
  display: flex;
  align-items: flex-start;
  gap: 15px;

  @media screen and (min-width: $bp-tablet) {
    gap: 20px;

    @media screen and (min-width: $bp-desktop) {
      gap: 30px;
    }
  }

  &__photo {
    //change name
    width: 120px;
    border-radius: 5px 5px 5px 150px;
    box-shadow: -8px 8px 0 0 white, -8px 8px 0 2px var(--color-brand-primary-rose);

    @media screen and (min-width: $bp-tablet) {
      width: 180px;
      border-radius: 5px 5px 5px 200px;
      box-shadow: -12px 12px 0 0 white, -12px 12px 0 2px var(--color-brand-primary-rose);

      @media screen and (min-width: $bp-desktop) {
        width: 220px;
        border-radius: 5px 5px 5px 250px;
        box-shadow: -16px 16px 0 0 white, -16px 16px 0 2px var(--color-brand-primary-rose);
      }
    }
  }

  &__title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;

    @media screen and (min-width: $bp-tablet) {
      font-size: 40px;
    }
  }

  &__text {
    font-size: 14px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;

      @media screen and (min-width: $bp-desktop) {
        font-size: 18px;
      }
    }
  }
}
