/* :root та html тут буде одне й те саме, тільки вага буде різна */
:root {
  --color-brand-primary-rose: #ffb3db;
  --color-brand-dark: #1e022d;
  --color-white: #ffffff;
}

$bp-mobile: 480px;
$bp-tablet: 760px;
$bp-desktop: 1280px;
