/* fwovers */

.flowers {
  &__title {
    margin-bottom: 80px;
  }

  &__slider {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }
}
