/* Footer. Adress link */

.footer {
  position: relative;
  padding: 30px;
  background-image: url(../images/footerFlover.jpg);
  background-color: #1e022d; /*якщо не прийде зображення, підстраховуюсь просто фоном-кольором*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
    }
  }

  &__menu,
  &__logo {
    flex-basis: 50%;
  }

  &::before,
  &::after {
    position: absolute;
    background-image: url(../images/decor-girl.png);
    content: '';
    width: 100px;
    height: 180px;
    background-size: 80%;
    background-repeat: no-repeat;
    bottom: -15px;
  }

  &::before {
    left: 0px;
  }

  &::after {
    right: 0;
  }

  & img {
    width: 200px;
  }

  &__menu .nav-link {
    color: var(--color-white);
  }

  &__menu .nav-link:hover {
    color: var(--color-brand-primary-rose);
  }

  &__address-list,
  &__address-info-copyright {
    flex-basis: 50%;
  }

  &__address-link {
    color: var(--color-white);
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
  }

  &__address-link:hover {
    color: var(--color-brand-primary-rose);
    /* font-size: 18px;   ТУТ при наведенні збільшується розмір*/
  }

  &__address-icon {
    fill: var(--color-white);
  }

  &__address-icon:hover {
    fill: var(--color-brand-primary-rose);
    /* stroke: var(--color-brand-primary-rose); */
  }

  &__address-copyright {
    font-size: 14px;
    color: var(--color-white);
  }
}
