/* Header */

.header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 30px;
  /* background-color: #b4b4b4; remove */

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
  }

  & img {
    width: 200px;
  }
}
