/* Header */

.header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 16px;

  & img {
    width: 100px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding-top: 30px;

    & img {
      width: 200px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;

    // & img {
    //   width: 200px;
    // }

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 64px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__button {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__burger {
    background-color: transparent;
    border: none;
    fill: var(--color-white);
    width: 24px;
    height: 24px;
    padding: 0;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
