/* hero section */

.hero-section {
  padding: 124px 0;
  background-image: linear-gradient(
      130deg,
      rgba(47, 0, 100, 0.25) 1%,
      rgba(47, 0, 100, 0.2) 20%,
      rgba(47, 0, 100, 0) 100%
    ),
    url(../images/backgroundRose.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1400px;
  background-attachment: fixed;

  @media screen and (min-width: $bp-tablet) {
    padding: 200px 0;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        130deg,
        rgba(47, 0, 100, 0.25) 1%,
        rgba(47, 0, 100, 0.2) 20%,
        rgba(47, 0, 100, 0) 100%
      ),
      url(../images/backgroundRose@2x.jpg);
  }

  &__title {
    margin-bottom: 48px;
    text-align: center;
    font-size: 36px;
    line-height: 1;
    font-weight: 900;

    @media screen and (min-width: $bp-desktop) {
      font-size: 70px;
      line-height: 1.5;
    }
  }

  &___size-text {
    font-size: 170%;
  }

  &__button {
    margin: 0 auto;
    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
