/* Promotions and news  */

.promotions {
  &__title {
    /* max-width: 520px; */
    margin: 0 auto 80px;
    position: relative;

    &::after,
    &::before {
      display: none;
      position: absolute;
      width: 0px;
      border: 2px solid var(--color-brand-dark);
      content: '';
      bottom: 24px;

      @media screen and (min-width: $bp-tablet) {
        display: block;
        width: 220px;

        @media screen and (min-width: $bp-desktop) {
          width: 360px;
        }
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 40px 30px;
    }
  }

  &__item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}
