.section {
  padding: 20px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0;
  }

  &__title .accent {
    color: var(--color-brand-primary-rose);
  }

  &__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;

    &--centered {
      text-align: center;
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 48px;
      font-weight: 900;
    }
  }
}
