@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

/* :root та html тут буде одне й те саме, тільки вага буде різна */
:root {
  --color-brand-primary-rose: #ffb3db;
  --color-brand-dark: #1e022d;
  --color-white: #ffffff;
}

/* Base / global styles */

* {
  box-sizing: border-box;
}

body {
  color: var(--color-brand-dark);
  /* font-family: 'comic sans ms', sans-serif; */
  font-family: 'poppins', sans-serif;
  tab-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Header */

.header {
  background-color: #b4b4b4; /* remove */
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.header img,
.footer img {
  width: 200px;
}

/* button styles */

.button {
  padding: 16px 32px;
  color: var(--color-white);
  background-color: var(--color-brand-primary-rose);
  font-weight: 600;
  border: 2px solid var(--color-brand-dark);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* .button:active {
  background-color: #ff1010a8;
} */

/* link styles */

.nav-link {
  color: var(--color-white);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-brand-primary-rose);
  /* font-weight: 600; */
}

/* hero section */

.hero-section {
  padding: 272px 0;
  background-image: url(../images/backgroundRose.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1400px;
  background-attachment: fixed;
}

.hero-title {
  margin-bottom: 0;
  text-align: center;
  /* text-transform: capitalize; */
  font-size: 70px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-primary-rose);
}

/* Advantages section */

.advantages-section {
  background-color: var(--color-brand-dark);
  padding: 16px;
}

.advantages-list {
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-primary-rose);
}

/* Sale section, promotions and news  */

.sale-section {
  padding-top: 96px;
}

.sale-title {
  margin-bottom: 42px;
}

.sale-text span {
  color: var(--color-brand-primary-rose);
  text-transform: uppercase;
  font-weight: 600;
}

.sale-text.sale-text-limited {
  max-width: 370px;
}

.sales-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.sales-content {
  max-width: 710px;
}

.sales-container img {
  width: 310px;
}

.promotions-news-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.promotions-title {
  max-width: 520px;
  margin: 0 auto 80px;
}

.promotions-title::after,
.promotions-title::before {
  display: block;
  width: 360px;
  border: 2px solid var(--color-brand-dark);
  content: '';
}

.sale-image {
  max-width: 300px;
  max-height: 450px;
  border-radius: 5px 5px 5px 250px;
  box-shadow: -16px 16px 0 0 white, -16px 16px 0 2px var(--color-brand-primary-rose);
}

/* fwovers */

.flowers-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.flowers-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  padding: 24px;
  /* background-image: url(../images/flover1.jpg); */
  border: 3px solid lightgray; /* remove */
  border-radius: 16px;
  background-image: linear-gradient(
    180deg,
    rgba(20, 0, 36, 0) 55%,
    rgba(20, 0, 36, 0.4) 73%,
    var(--color-brand-dark)
  );
  height: 444px;

  /* Тінь:   
  box-shadow: 2px 2px 4px 4px blueviolet; */
}

.flowers-card {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.flowers-title {
  margin-bottom: 80px;
}
/* Carousel */

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-brand-dark);
  fill: var(--color-brand-dark);
}

.carousel-button:hover {
  background-color: var(--color-brand-dark);
  fill: var(--color-white);
}

/* Contact section */

.contact-title {
  margin-bottom: 16px;
}

.carousel-arrow {
  fill: var(--color-brand-dark);
}

/* Footer. Adress link */
.address-link {
  color: var(--color-white);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-primary-rose);
  /* font-size: 18px;   ТУТ при наведенні збільшується розмір*/
}

.address-icon {
  fill: var(--color-white);
}

.address-icon:hover {
  fill: var(--color-brand-primary-rose);
  /* stroke: var(--color-brand-primary-rose); */
}

.address-copyright {
  font-size: 14px;
}

.footer {
  background-image: url(../images/footerFlover.jpg);
  background-color: #1e022d; /*якщо не прийде зображення, підстраховуюсь просто фоном-кольором*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* 
                     Градієнт:
  .test-box {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 20px auto;
  background-image: radial-gradient(gold 50%, green 50%, green 70%, blue 70%, blue);
} */
